<div class="jumbotron-fluid header">
    {{!-- <div class="header-box">
        <h1>Check out what's happening on BuzzFeed</h1>
    </div> --}}

    <div class="flex container-fluid">
        <div class="text">
            {{!-- <h1>
                Check out what's happening on <span id="highlight">Buzzfeed</span>;
                <br />

            </h1> --}}
        </div>

    </div>
</div>
{{!-- {{> article}} --}}
<div class="section">
    <div class="container">
        <form  id="page-link">
            <label for="link">Add Link to Scrape:</label>
            <input type="text" name="link" >
            <br>
            <label for="category"> Category: </label>
            <input type="text" name="category" >
            <br>
            <button type="submit">Submit</button>
        </form>


        <h2 id="results">Scrape Results</h2>
        <div id="scraped-articles">
            <table id="result-table" class="hidden">
                <tr>
                    <th>Number</th>
                    <th>Title</th>
                    <th>Edition</th>
                    <th>URL</th>

                </tr>
            </table>


        </div>
    </div>
</div>

<script src="assets/js/index.js"></script>